.calculator {
    margin: auto;
    width: 45vh; 
    height: 75vh;
    border-radius: 5px;
    background-color: #1C1C1C;
    border: 2px solid rgb(182, 158, 158);
    color: aliceblue;
    padding: 20px; 
    box-shadow: 0 0 5px yellow;
}

.buttons {
    display: grid;
    gap: 5px;
    justify-content: center;
}

button {
    border-radius: 10px;
    border: none;
    background-color: #505050;
    color: white;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px; 
    
}

button:hover {
    background-color: rgb(230, 208, 208); 
    box-shadow: 0 0 10px #FFD700; 
}
.op-btn {
    background-color: #FF9500;
    font-size: x-large;
}
